{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 3 chrome versions",
            "last 3 firefox versions"
          ],
          // allows webpack tree-shaking to work at the expense of compiling to a lower target
          "uglify": true
        },
        "modules": false
      }
    ],
    "react"
  ]
}
